.toolbox {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.tool {
  position: relative;
  margin-top: 1%;
  width: 32px;
  height: 32px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
  border-radius: 5%;
}

/* Graphics / app.svg */
.tool > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -1em 0 0 -1em;
}

